<%= form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-sm table-responsiv">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
    <% @order.order_rows.each do |row|%>
      <tr>
        <td> <%= row.item.name%> </td>
        <td> <%= row.item.description%> </td>
        <td> $<%= Money.new(row.item.price, "USD")%> </td>
        <td>
         <div class="field">
           <%= number_field_tag "quantity[]", 0  %>
         </div>
       </td>

      </tr>
    <% end %>

  </table>

  <div class="actions center">
    <%= f.submit class:"btn btn-default btn-lg" %>
  </div>
<% end %>
