<h1 class="title text-center">Orders</h1>

<%if @orders.count > 0%>
  <table class="table table-sm table-responsiv">
    <thead>
      <tr>
        <th>Order Number</th>
        <th>Total</th>
        <th>Customer</th>
        <th>Order Details</th>
        <th>Delete Order</th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each_with_index do |order, index| %>
        <tr>
          <td><%=(index+1)%></td>
          <td>$<%= Money.new(order.total, "USD")%></td>
          <td><%= order.customer %></td>
          <td><%= link_to 'See Order Details', order %></td>
          <td><% if current_customer && order.customer == current_customer %><%= link_to 'Delete Order', order, method: :delete, data: { confirm: 'Are you sure?' } %><% end %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<%else%>
  <!-- <img class="empty img-thumbnail img-responsive" src="/assets/empty_cart.gif" alt="Empty Cart"/> -->

  <%= image_tag("empty_cart.gif", class: "empty img-thumbnail img-responsive") %>

  <h3 class="title text-center">You haven't placed any orders yet!<small><br>Taste a piece of heaven now and place a new order!</small></h3>

<% end %>
<br>

<!-- if current user show link below -->
<div class="center">
  <div class="btn btn-default btn-lg ">
    <%= link_to 'New Order', new_order_path %>
  </div>
</div>
