<h1 class="title text-center">Your Order is Complete! <small><br>Here are the details:</small></h1>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
  <% @order.order_rows.each do |row|%>
    <tr>
      <td> <%= row.item.name%> </td>
      <td> <%= row.item.description%> </td>
      <td> $<%= Money.new(row.item.price, "USD")%> </td>
      <td> <%= row.quantity%> </td>
    </tr>
  <% end %>
</table>
<p>
  <strong>Total:</strong>
  <%= Money.new(@order.total, "USD")%>
</p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer %>
</p>

<h2 class="title text-center">We're preparing you order! It'll be ready for pick-up soon!</h2>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
