
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
  <% @order.order_rows.each do |row|%>
    <tr>
      <td> <%= row.item.name%> </td>
      <td> <%= row.item.description%> </td>
      <td> <%= row.item.price%> </td>
      <td> <%= row.quantity%> </td>
    </tr>
  <% end %>
</table>
<p>
  <strong>Total:</strong>
  <%= number_to_currency(@order.total/100)%>
</p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
